<script type="text/javascript">
$(document).ready(function(){
	$("tr").dblclick( function () { 
		alert("Click");
	});
});
</script>
<center>
			<!-- tables inside this DIV could contain drag-able content  -->
				<table class="table table-striped table-bordered table-condensed">
					<tbody>
						<tr>
							<td>Nombre</td>
							<td>Descripcion</td>
							<td>Fecha de Inicio</td>
							<td>Fecha de Fin</td>
							<td>Estado</td>
							<td></td>
						</tr>
						{% set promocion = 0 %}
						{% for promocion in promociones %}
						<tr class="rl">
							<td><label id="lblNombre{{promocion.id}}">{{promocion.nombre}}</label></td>
							<td><label id="lblDescripcion{{promocion.id}}">{{promocion.descripcion}}</label></td>
							<td><label id="lblFechaInicio{{promocion.id}}">{{promocion.fechainicio}}</label></td>
							<td><label id="lblFechaFin{{promocion.id}}">{{promocion.fechafin}}</label></td>
							<td><label id="lblEstadoPromocion{{promocion.id}}">
							{{ promocion.estadopromocion is none ? "Sin Estado":promocion.estadopromocion.estado }}
							</label></td>
							<td><a class="btn-mini" href="{{ path('_promociones_details',{'PidPromocion' : promocion.id})}}">Ir a detalle&raquo;</a></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
</center>

